<p>rate works!</p>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Courses info.</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item "><a href="#">Home</a></li>
              <li class="breadcrumb-item">Courses</li>
              <li class="breadcrumb-item active">information</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <div class="content">

        <div class="container-fluid">
            <div class="card card-primary">


                <div class="card-header">
                    <h3 class="card-title float-right">

                        إستبيان عن رأى الطلاب فى المقرر للعام الجامعى 2020/2019
                    </h3>
                </div>
                <div class="card-body ">

                    <div class="form-group">
                        <label class=" float-right">اختر الماده </label>
                        <select class="form-control  " data-dropdown-css-class="select2-primary"
                            style="width: 100%;">
                            <option selected="selected">flutter</option>
                            <option>java</option>
                            <option>c++</option>
                            <option>python</option>
                            <option>Tennessee</option>
                            <option>Texas</option>
                            <option>Washington</option>
                        </select>
                    </div>
                </div>
            </div>


        </div>
        <div class="container-fluid">
            <div class="card card-primary">



                <form class="form" role="form">


                    <div class="col">
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">اسم الطالب</label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">أسم عضو الهيئة المعاونة (المعيد)
                                للمقرر</label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                هل المقرر مشوق؟
                            </label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                هل المقرر مرتبط بالتخصص ؟
                            </label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                هل المقرر يتضمن معلومات حديثة؟
                            </label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                هل المقرر يوفر أمثلة عملية؟ </label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                هل المقرر يقابل توقعاتك؟ </label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                هل المقرر مفيد فى التطبيق العملى؟ </label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                هل المقرر عموماً جيد؟ </label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                المقرر له أهداف واضحة ومعلنة </label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                المقرر يزودني بالمعرفة المفيدة والفهم المتعمق
                                للموضوع </label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                المقرر يحفزني علي التفكير </label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                يتم تقديم المحاضرات وفقاً لمواعيد الجداول
                                المحددة المعلنة </label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                تساهم المحاضرات في تفهم موضوع المقرر </label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                تغطي المحاضرات كل الموضوعات التي اشتملت
                                عليها قائمة محتوياته </label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                يتم تقديم المحاضرات بأسلوب مشوق </label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                تضمنت المحاضرات المشاركة من جانب الطلاب
                            </label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                اشتملت المحاضرات علي حالات عملية
                            </label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                مقدار المعلومات المقدمة في المحاضرات مناسب </label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                كتاب المقرر أو المذكرة يعتبر مناسباً </label>
                                <input type="email" class="form-control"
                                    id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                يلتزم المحاضر دائماً بمحتويات المقرر </label><input type="email" class="form-control"
                                    id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                يلتزم المحاضر دائما بمواعيد بدء وانتهاء المحاضرة </label><input type="email"
                                    class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                اشعر بأن المحاضر دائماً مستعد جيداً للمحاضرة </label><input type="email"
                                    class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                يعالج المحاضر موضوعات المقرر بعمق </label><input type="email" class="form-control"
                                    id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                يستثمر المحاضر وقت المحاضرة في التدريس
                                الفعلي</label> <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                يبدو المحاضر ذات معرفة عالية بموضوع المقر </label><input type="email"
                                    class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                يقدم المحاضر أمثلة وحالات علمية فعالة </label><input type="email" class="form-control"
                                    id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                يعتبر دور عضو الهيئة المعاونة فعالاً. </label><input type="email" class="form-control"
                                    id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                عضو الهيئة المعاونة دائماً علي استعداد للرد علي
                                أي استفسارات </label><input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                يبدو عضو الهيئة المعاونة ملماً بموضوعات المقرر </label><input type="email"
                                    class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                عيوفر عضو الهيئة المعاونة المساعدة لكل طالب عند
                                الحاجة لذلك </label><input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <hr>
                        <div class="form-group ">
                            <label class="float-right" for="exampleInputEmail1">
                                ما الذى لا تحبه فى هذا المقرر 
                            </label>	<input type="textarea" class="form-control"
                                    id="exampleInputEmail1">
                        </div>
                        <hr>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    <!-- /.modal-content -->
                </form>
            </div>


        </div>
    </div>
  </div>