<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Courses info.</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item "><a href="#">Home</a></li>
                        <li class="breadcrumb-item">Courses</li>
                        <li class="breadcrumb-item active">information</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Courses Info</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h4>Add form Excel Sheet</h4>

                                    <p>Excel Sheet</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-table"></i>
                                </div>
                                <a routerLink="/students/add/sheet" class="small-box-footer">
                                    Add <i class="fas fa-plus-circle"></i>
                                </a>
                            </div>

                        </div>
                        <div class="col-md-6">

                            <!-- /.form-group -->
                            <!-- /.col -->
                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <h4>Add Student </h4>

                                    <p>Manual</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-edit"></i>
                                </div>
                                <a routerLink="/students/add/manual" class="small-box-footer">
                                    Add <i class="fas fa-plus-circle"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>