<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Courses info.</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item "><a href="#">Home</a></li>
                        <li class="breadcrumb-item">Courses</li>
                        <li class="breadcrumb-item active">information</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Courses Info</h3>
                </div>
                <form role="form">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <!-- select -->
                                <div class="form-group">

                                    <select class="form-control">
                                        <option>software</option>
                                        <option>computer language</option>
                                        <option>math</option>
                                        <option>DS</option>
                                        <option>GIS</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <!-- select -->
                                <div class="form-group">

                                    <select class="form-control">
                                        <option>all</option>
                                        <option>cs</option>
                                        <option>is</option>
                                        <option>it</option>
                                        <option>or</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <!-- select -->
                                <div class="form-group">

                                    <select class="form-control">
                                        <option>sec 1 </option>
                                        <option>sec 2</option>
                                        <option>sec 3</option>
                                        <option>sec 4</option>

                                    </select>
                                </div>
                            </div>


                        </div>
                        <!-- /.card-body -->



                        <!-- Main content -->
                            <div class="card card-primary">
                                <!-- form start -->
                                <form role="form">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1"> Title</label>
                                            <input type="text" class="form-control" id="title"
                                                placeholder="Enter title">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Discription</label>
                                            <textarea style="height: 100px;" class="form-control" id="hint" placeholder="hint"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputFile">File input</label>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="exampleInputFile">
                                                    <label class="custom-file-label" for="exampleInputFile">Choose
                                                        file</label>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.card-body -->

                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Upload</button>
                                    </div>
                                </form>
                            </div>
                            <!-- /.card -->
                    </div><!-- /.container-fluid -->
                </form>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>