<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Courses info.</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item "><a href="#">Home</a></li>
                        <li class="breadcrumb-item">Courses</li>
                        <li class="breadcrumb-item active">information</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Courses Info</h3>
                </div>
                <form class="form" role="form">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <!-- select -->
                                <div class="form-group">

                                    <select class="form-control">
                                        <option>-- Select Level --</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <!-- select -->
                                <div class="form-group">
                                    <select class="form-control">
                                        <option value="none">-- Select Department --</option>
                                        <option>CS</option>
                                        <option>IS</option>
                                        <option>IT</option>
                                        <option>or</option>
                                        <option>BIO</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Multiple</label>
                            <select class="duallistbox" multiple="multiple">
                                <option>Alabama</option>
                                <option>Alaska</option>
                                <option>California</option>
                                <option>Delaware</option>
                                <option>Tennessee</option>
                                <option>Texas</option>
                                <option>Washington</option>
                            </select>
                        </div>
                        <!-- /.form-group -->
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>code</th>
                                    <th>Name</th>
                                    <th>Doctor</th>
                                    <th>Day</th>
                                    <th>time</th>
                                    <th>Forced</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>CS50</td>
                                    <td>Programming</td>
                                    <td>
                                        <select class="custom-select">
                                            <option>doctor 1</option>
                                            <option>doctor 2</option>
                                            <option>doctor 3</option>
                                            <option>doctor 4</option>
                                            <option>doctor 5</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="custom-select">
                                            <option>SAT</option>
                                            <option>SUN</option>
                                            <option>MON</option>
                                            <option>TUE</option>
                                            <option>WEN</option>
                                            <option>THR</option>
                                            <option>FRi</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="custom-select">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="my-checkbox" checked data-bootstrap-switch
                                            data-off-color="danger" >
                                    </td>
                                </tr>
                                <tr>
                                    <td>CS50</td>
                                    <td>Programming</td>
                                    <td>
                                        <select class="custom-select">
                                            <option>doctor 1</option>
                                            <option>doctor 2</option>
                                            <option>doctor 3</option>
                                            <option>doctor 4</option>
                                            <option>doctor 5</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="custom-select">
                                            <option>SAT</option>
                                            <option>SUN</option>
                                            <option>MON</option>
                                            <option>TUE</option>
                                            <option>WEN</option>
                                            <option>THR</option>
                                            <option>FRi</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="custom-select">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="my-checkbox" checked data-bootstrap-switch
                                            data-off-color="danger" >
                                    </td>
                                </tr>
                                <tr>
                                    <td>CS50</td>
                                    <td>Programming</td>
                                    <td>
                                        <select class="custom-select">
                                            <option>doctor 1</option>
                                            <option>doctor 2</option>
                                            <option>doctor 3</option>
                                            <option>doctor 4</option>
                                            <option>doctor 5</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="custom-select">
                                            <option>SAT</option>
                                            <option>SUN</option>
                                            <option>MON</option>
                                            <option>TUE</option>
                                            <option>WEN</option>
                                            <option>THR</option>
                                            <option>FRi</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="custom-select">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="my-checkbox" checked data-bootstrap-switch
                                            data-off-color="danger" >
                                    </td>
                                </tr>
                                <tr>
                                    <td>CS50</td>
                                    <td>Programming</td>
                                    <td>
                                        <select class="custom-select">
                                            <option>doctor 1</option>
                                            <option>doctor 2</option>
                                            <option>doctor 3</option>
                                            <option>doctor 4</option>
                                            <option>doctor 5</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="custom-select">
                                            <option>SAT</option>
                                            <option>SUN</option>
                                            <option>MON</option>
                                            <option>TUE</option>
                                            <option>WEN</option>
                                            <option>THR</option>
                                            <option>FRi</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="custom-select">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="my-checkbox" checked data-bootstrap-switch
                                            data-off-color="danger" >
                                    </td>
                                </tr>
                                <tr>
                                    <td>CS50</td>
                                    <td>Programming</td>
                                    <td>
                                        <select class="custom-select">
                                            <option>doctor 1</option>
                                            <option>doctor 2</option>
                                            <option>doctor 3</option>
                                            <option>doctor 4</option>
                                            <option>doctor 5</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="custom-select">
                                            <option>SAT</option>
                                            <option>SUN</option>
                                            <option>MON</option>
                                            <option>TUE</option>
                                            <option>WEN</option>
                                            <option>THR</option>
                                            <option>FRi</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="custom-select">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="my-checkbox" checked data-bootstrap-switch
                                            data-off-color="danger" >
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>