<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Student Status</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item "><a href="#">Home</a></li>
                        <li class="breadcrumb-item">Courses</li>
                        <li class="breadcrumb-item active">information</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Students Status</h3>
                </div>
                <form role="form">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <!-- select -->
                                <div class="form-group">

                                    <select class="form-control">
                                        <option>software</option>
                                        <option>computer language</option>
                                        <option>math</option>
                                        <option>DS</option>
                                        <option>GIS</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <!-- select -->
                                <div class="form-group">

                                    <select class="form-control">
                                        <option>cs</option>
                                        <option>is</option>
                                        <option>it</option>
                                        <option>or</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <!-- select -->
                                <div class="form-group">

                                    <select class="form-control">
                                        <option>sec 1 </option>
                                        <option>sec 2</option>
                                        <option>sec 3</option>
                                        <option>sec 4</option>

                                    </select>
                                </div>
                            </div>
                            <div class="center">
                                <button type="submit" class="btn btn-primary">Show</button>
                            </div>
                            <div class="center">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>

                        </div>
                        <!-- /.card-body -->


                        <div class="col-md-100">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Grades</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Student id</th>
                                                <th>Student name</th>
                                                <th>year work</th>
                                                <th>Mid exam</th>
                                                <th>written exam</th>
                                                <th>Total</th>
                                                <th>absent Lec</th>
                                                <th>absent Lab</th>
                                                <th>Total absent</th>
                                                <th>tips</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>213213123</td>
                                                <td> Mohamed Osama elshwaikh </td>
                                                <td>
                                                    <input id="year word" class="form-control">
                                                </td>
                                                <td><input id="year word" class="form-control"></td>
                                                <td><input id="year word" class="form-control"></td>
                                                <td><input id="year word" class="form-control"></td>
                                                <td><input id="year word" class="form-control" type="number"></td>
                                                <td><input id="year word" class="form-control" type="number"></td>
                                                <td><span class="badge bg-warning">4</span></td>
                                                <td><input id="year word" class="form-control"></td>
                                            </tr>
                                            <tr>
                                                <td>213213123</td>
                                                <td> Mustafa Khaled</td>
                                                <td>
                                                    <input id="year word" class="form-control">
                                                </td>
                                                <td><input id="year word" class="form-control"></td>
                                                <td><input id="year word" class="form-control"></td>
                                                <td><input id="year word" class="form-control"></td>
                                                <td><input id="year word" class="form-control" type="number"></td>
                                                <td><input id="year word" class="form-control" type="number"></td>
                                                <td><span class="badge bg-warning">4</span></td>
                                                <td><input id="year word" class="form-control"></td>
                                            </tr>
                                            <tr>
                                                <td>213213123</td>
                                                <td> amr magdy</td>
                                                <td>
                                                    <input id="year word" class="form-control">
                                                </td>
                                                <td><input id="year word" class="form-control"></td>
                                                <td><input id="year word" class="form-control"></td>
                                                <td><input id="year word" class="form-control"></td>
                                                <td><input id="year word" class="form-control" type="number"></td>
                                                <td><input id="year word" class="form-control" type="number"></td>
                                                <td><span class="badge bg-warning">4</span></td>
                                                <td><input id="year word" class="form-control"></td>
                                            </tr>
                                            <tr>
                                                <td>213213123</td>
                                                <td> amr hassan </td>
                                                <td>
                                                    <input id="year word" class="form-control">
                                                </td>
                                                <td><input id="year word" class="form-control"></td>
                                                <td><input id="year word" class="form-control"></td>
                                                <td><input id="year word" class="form-control"></td>
                                                <td><input id="year word" class="form-control" type="number"></td>
                                                <td><input id="year word" class="form-control" type="number"></td>
                                                <td><span class="badge bg-warning">4</span></td>
                                                <td><input id="year word" class="form-control"></td>
                                            </tr>
                                            <tr>
                                                <td>213213123</td>
                                                <td> z8 w welo </td>
                                                <td>
                                                    <input id="year word" class="form-control">
                                                </td>
                                                <td><input id="year word" class="form-control"></td>
                                                <td><input id="year word" class="form-control"></td>
                                                <td><input id="year word" class="form-control"></td>
                                                <td><input id="year word" class="form-control" type="number"></td>
                                                <td><input id="year word" class="form-control" type="number"></td>
                                                <td><span class="badge bg-warning">4</span></td>
                                                <td><input id="year word" class="form-control"></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer clearfix">
                                    <ul class="pagination pagination-sm m-0 float-right">
                                        <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </form>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>