<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Students</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item "><a href="#">DashBoard</a></li>
              <li class="breadcrumb-item">Studenst</li>
              <li class="breadcrumb-item active">list</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="card card-primary ">
          <div class="card-header">
            <h3 class="card-title">Students</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <form class="form" role="form">
              <div class="row">
                <div class="col-sm-2">
                  <!-- select -->
                  <div class="form-group">

                    <select class="form-control">
                      <option>-- Select Level --</option>
                      <option>computer language</option>
                      <option>math</option>
                      <option>DS</option>
                      <option>GIS</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-2">
                  <!-- select -->
                  <div class="form-group">
                    <select class="form-control">
                      <option value="none">-- Select Department --</option>
                      <option>CS</option>
                      <option>IS</option>
                      <option>IT</option>
                      <option>or</option>
                      <option>BIO</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-2">
                  <!-- select -->
                  <div class="form-group">

                    <select class="form-control">
                      <option value="none">-- Select section --</option>
                      <option>sec 1</option>
                      <option>sec 2</option>
                      <option>sec 3</option>
                      <option>sec 4</option>
                    </select>
                  </div>
                </div>
                <div class="center">
                  <button style="width: 100px;" type="submit" class="btn btn-primary">Show</button>
                </div>
              </div>
            </form>
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>id</th>
                  <th>Name</th>
                  <th>national ID</th>
                  <th>Email</th>
                  <th>nationality</th>
                  <th>Credit</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Name1</td>
                  <td>1231233123123</td>
                  <td>asdxasd012@gmail.com</td>
                  <td>Egyption</td>
                  <td>123954</td>
                  <td class="project-actions text-center">
                    <a class="btn btn-info btn-sm" href="#">
                      <i class="fas fa-pencil-alt">
                      </i>
                      Edit
                    </a>
                    <a class="btn btn-danger btn-sm" href="#">
                      <i class="fas fa-trash">
                      </i>
                      Disable
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Name1</td>
                  <td>1231233123123</td>
                  <td>asdxasd012@gmail.com</td>
                  <td>Egyption</td>
                  <td>123954</td>
                  <td class="project-actions text-center">
                    <a class="btn btn-info btn-sm" href="#">
                      <i class="fas fa-pencil-alt">
                      </i>
                      Edit
                    </a>
                    <a class="btn btn-danger btn-sm" href="#">
                      <i class="fas fa-trash">
                      </i>
                      Disable
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Name1</td>
                  <td>1231233123123</td>
                  <td>asdxasd012@gmail.com</td>
                  <td>Egyption</td>
                  <td>123954</td>
                  <td class="project-actions text-center">
                    <a class="btn btn-info btn-sm" href="#">
                      <i class="fas fa-pencil-alt">
                      </i>
                      Edit
                    </a>
                    <a class="btn btn-danger btn-sm" href="#">
                      <i class="fas fa-trash">
                      </i>
                      Disable
                    </a>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>id</th>
                  <th>Name</th>
                  <th>national ID</th>
                  <th>Email</th>
                  <th>nationality</th>
                  <th>Credit</th>
                  <th>Edit</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>