<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Courses info.</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item "><a href="#">Home</a></li>
                        <li class="breadcrumb-item">Courses</li>
                        <li class="breadcrumb-item active">information</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Courses Info</h3>
                </div>
                <div class="card-body">


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>select Your matirail</label>
                                <select class="form-control select2 select2-danger"
                                    data-dropdown-css-class="select2-danger" style="width: 100%;">
                                    <option selected="selected">Alabama</option>
                                    <option>Alaska</option>
                                    <option>California</option>
                                    <option>Delaware</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option>Washington</option>
                                </select>
                            </div>

                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->


                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title"> Course Material </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">Date</th>
                                            <th> Course Material </th>

                                            <th style="width: 40px">Download</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1/1/2020.</td>
                                            <td>Update softwareUpdate softwareUpdate softwareUpdate softwareUpdate
                                                software</td>

                                            <td> <button type="submit" class="badge bg-success">Download</button></td>
                                        </tr>
                                        <tr>
                                            <td>5/5/2005</td>
                                            <td>Clean databaseCron job runningCron job runningCron job runningCron job
                                                running</td>

                                            <td> <button type="submit" class="badge bg-success">Download</button></td>
                                        </tr>
                                        <tr>
                                            <td>3/2/2020</td>
                                            <td>Cron job runningCron job runningCron job runningCron job running</td>

                                            <td> <button type="submit" class="badge bg-success">Download</button></td>
                                        </tr>
                                        <tr>
                                            <td>4/4/2020.</td>
                                            <td>Fix and squish bugsCron job runningCron job runningCron job running</td>

                                            <td> <button type="submit" class="badge bg-success">Download</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer clearfix">
                                <ul class="pagination pagination-sm m-0 float-right">
                                    <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>