<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Courses info.</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item "><a href="#">Home</a></li>
                        <li class="breadcrumb-item">Courses</li>
                        <li class="breadcrumb-item active">information</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div style="width:100%; height:100%; padding:20px; text-align:center; border: 10px solid #787878">
                        <div
                            style="width:100%; height:100%; padding:20px; text-align:center; border: 5px solid #787878">
                            <div class="row">
                                <div class="col-sm-4">
                                    <span style="font-size:15px"> جامعة المنوفية</span>


                                </div>
                                <div class="col-sm-4">
                                    <span style="font-size:25px"></span>


                                </div>
                                <div class="col-sm-4">
                                    <span style="font-size:15px"> MENOFIA UNIVERSTY</span>


                                </div>
                                <div class="col-sm-4">
                                    <span style="font-size:25px">كلية الحاسبات و المعلومات</span>


                                </div>
                                <div class="col-sm-4">
                                    <span style="font-size:25px"> </span>


                                </div>
                                <div class="col-sm-4">
                                    <span style="font-size:25px"> Faculty of Computing and Information
                                    </span>


                                </div>
                                <div class="col-sm-4">
                                    <span style="font-size:25px">شؤن الطلاب</span>


                                </div>
                                <div class="col-sm-4">
                                    <span style="font-size:25px"> </span>


                                </div>
                                <div class="col-sm-4">
                                    <span style="font-size:25px">
                                        STUDENTS AFFAIRS
                                    </span>


                                </div>
                            </div>
                            <br><br><br>
                            <hr>
                            <span style="font-size:50px; font-weight:bold">إفادة</span>
                            <br><br>
                            <span
                                style="font-size:20px; font-weight:bold">**********************************************</span>
                            <br><br>
                            <span style="font-size:25px"><i>/السيد الاستاذ مدير </i></span>
                            <br><br>
                            <span style="font-size:30px"><b>مصلحه التضامن الاجتماعي -اشمون -ساقيه ابو
                                    شعرة</b></span><br /><br />
                            <span style="font-size:25px"><i>تحية طيبه وبعد </i></span><br>
                            <span
                                style="font-size:20px; font-weight:bold">**********************************************</span>
                            <br><br>
                            <span style="font-size:25px"><i>نحيط علم سيادتكم بأن الطالب /ادهم سلامه بيومي مقيد بالكليه
                                    بالفرقه
                                    الثانيه عام 2019/2020 </i></span> <br /><br />
                            <span style="font-size:25px"> مرسل للعلم واتخاذ اللازم</span> <br />
                            <span style="font-size:25px"> وتفضلو سيادتكم بقبول فائق الاحترام</span> <br /><br />
                            <br /><br />

                            <div class="row">
                                <div class="col-sm-4">
                                    <span style="font-size:25px"> شؤن الطلاب</span>


                                </div>
                                <div class="col-sm-4">
                                    <span style="font-size:25px">مدير الاداره</span>


                                </div>
                                <div class="col-sm-4">
                                    <span style="font-size:25px"> امين الكليه</span>


                                </div>
                                <div class="col-sm-4">
                                    <span style="font-size:25px">.........</span>


                                </div>
                                <div class="col-sm-4">
                                    <span style="font-size:25px">......... </span>


                                </div>
                                <div class="col-sm-4">
                                    <span style="font-size:25px"> .........</span>


                                </div>
                            </div>
                            <br /><br /> <br /><br />
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <button onClick="window.print()" class="btn btn-primary  "
                        style="width: 100px; padding-top: 10; padding-bottom: 10;  ">Print</button>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
</div>