<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Courses info.</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item "><a href="#">Home</a></li>
                        <li class="breadcrumb-item">Courses</li>
                        <li class="breadcrumb-item active">information</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Courses Info</h3>
                </div>
                <form class="form" role="form">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <!-- select -->
                                <div class="form-group">

                                    <select class="form-control">
                                        <option>-- Select Level --</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <!-- select -->
                                <div class="form-group">
                                    <select class="form-control">
                                        <option value="none">-- Select Department --</option>
                                        <option>All</option>
                                        <option>CS</option>
                                        <option>IS</option>
                                        <option>IT</option>
                                        <option>or</option>
                                        <option>BIO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2"> <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#modal-default">Show</button></div>
                        </div>
                        <!-- /.row -->
                        <hr>
                        <h1> Course </h1>
                        <div class="row ">
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Java</span>
                                        <span class="info-box-number text-center text-muted mb-0">299</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">C++</span>
                                        <span class="info-box-number text-center text-muted mb-0">230</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Soft</span>
                                        <span class="info-box-number text-center text-muted mb-0">2300</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">assemply</span>
                                        <span class="info-box-number text-center text-muted mb-0">2300</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">compiler</span>
                                        <span class="info-box-number text-center text-muted mb-0">2300</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">manegment</span>
                                        <span class="info-box-number text-center text-muted mb-0">2000</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">English</span>
                                        <span class="info-box-number text-center text-muted mb-0">20 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Rigesterd</h3>
                                <!-- /.form-group -->
                                <!-- /.col -->
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>name</th>
                                            <th>dep</th>
                                            <th>sec</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1111</td>
                                            <td>smsm smsm </td>
                                            <td>cs</td>
                                            <td>2</td>

                                        </tr>
                                        <tr>
                                            <td>1111</td>
                                            <td>smsm smsm </td>
                                            <td>cs</td>
                                            <td>2</td>

                                        </tr>
                                        <tr>
                                            <td>1111</td>
                                            <td>smsm smsm </td>
                                            <td>cs</td>
                                            <td>2</td>

                                        </tr>
                                        <tr>
                                            <td>1111</td>
                                            <td>smsm smsm </td>
                                            <td>cs</td>
                                            <td>2</td>

                                        </tr>
                                        <tr>
                                            <td>1111</td>
                                            <td>smsm smsm </td>
                                            <td>cs</td>
                                            <td>2</td>

                                        </tr>
                                        <tr>
                                            <td>1111</td>
                                            <td>smsm smsm </td>
                                            <td>cs</td>
                                            <td>2</td>

                                        </tr>
                                        <tr>
                                            <td>1111</td>
                                            <td>smsm smsm </td>
                                            <td>cs</td>
                                            <td>2</td>

                                        </tr>
                                        <tr>
                                            <td>1111</td>
                                            <td>smsm smsm </td>
                                            <td>cs</td>
                                            <td>2</td>

                                        </tr>
                                        <tr>
                                            <td>1111</td>
                                            <td>smsm smsm </td>
                                            <td>cs</td>
                                            <td>2</td>

                                        </tr>
                                        <tr>
                                            <td>1111</td>
                                            <td>smsm smsm </td>
                                            <td>cs</td>
                                            <td>2</td>

                                        </tr>
                                        <tr>
                                            <td>1111</td>
                                            <td>smsm smsm </td>
                                            <td>cs</td>
                                            <td>2</td>

                                        </tr>
                                        <tr>
                                            <td>1111</td>
                                            <td>smsm smsm </td>
                                            <td>cs</td>
                                            <td>2</td>

                                        </tr>
                                        <tr>
                                            <td>1111</td>
                                            <td>smsm smsm </td>
                                            <td>cs</td>
                                            <td>2</td>

                                        </tr>
                                        <tr>
                                            <td>1111</td>
                                            <td>smsm smsm </td>
                                            <td>cs</td>
                                            <td>2</td>

                                        </tr>
                                        <tr>
                                            <td>1111</td>
                                            <td>smsm smsm </td>
                                            <td>cs</td>
                                            <td>2</td>

                                        </tr>
                                        <tr>
                                            <td>1111</td>
                                            <td>smsm smsm </td>
                                            <td>cs</td>
                                            <td>2</td>

                                        </tr>
                                        <tr>
                                            <td>1111</td>
                                            <td>smsm smsm </td>
                                            <td>cs</td>
                                            <td>2</td>

                                        </tr>
                                        <tr>
                                            <td>1111</td>
                                            <td>smsm smsm </td>
                                            <td>cs</td>
                                            <td>2</td>

                                        </tr>

                                    </tbody>
                                </table>

                            </div>

                            <div class="col-md-6">
                                <h3>UN Rigesterd</h3>
                                <!-- /.form-group -->
                                <!-- /.col -->
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>name</th>
                                            <th>dep</th>
                                            <th>sec</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1111</td>
                                            <td>smsm smsm </td>
                                            <td>cs</td>
                                            <td>2</td>

                                        </tr>
                                        <tr>
                                            <td>1111</td>
                                            <td>smsm smsm </td>
                                            <td>cs</td>
                                            <td>2</td>

                                        </tr>
                                        <tr>
                                            <td>1111</td>
                                            <td>smsm smsm </td>
                                            <td>cs</td>
                                            <td>2</td>

                                        </tr>
                                        <tr>
                                            <td>1111</td>
                                            <td>smsm smsm </td>
                                            <td>cs</td>
                                            <td>2</td>

                                        </tr>
                                        <tr>
                                            <td>1111</td>
                                            <td>smsm smsm </td>
                                            <td>cs</td>
                                            <td>2</td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <!-- /.row -->
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>