<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Courses info.</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item "><a href="#">Home</a></li>
                        <li class="breadcrumb-item">Courses</li>
                        <li class="breadcrumb-item active">information</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Courses Info</h3>
                </div>
                <div class="card-body">
                    <div class="col-md-6">
                        <!-- /.form-group -->
                        <!-- /.col -->
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>short cut</th>
                                    <th>Department</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>number 1 </td>
                                    <td>cs </td>
                                    <td>
                                        <div>
                                            <!-- select -->
                                            <div class="form-group">

                                                <select class="form-control">
                                                    <option>-- Select dep --</option>
                                                    <option>computer scince</option>
                                                    <option>information technology</option>
                                                    <option>infomation system</option>
                                                    <option>organization </option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>number 1 </td>
                                    <td>cs </td>
                                    <td>
                                        <div>
                                            <!-- select -->
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>-- Select dep --</option>
                                                    <option>computer scince</option>
                                                    <option>information technology</option>
                                                    <option>infomation system</option>
                                                    <option>organization </option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>number 1 </td>
                                    <td>cs </td>
                                    <td>
                                        <div>
                                            <!-- select -->
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>-- Select dep --</option>
                                                    <option>computer scince</option>
                                                    <option>information technology</option>
                                                    <option>infomation system</option>
                                                    <option>organization </option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>number 1 </td>
                                    <td>cs </td>
                                    <td>
                                        <div>
                                            <!-- select -->
                                            <div class="form-group">

                                                <select class="form-control">
                                                    <option>-- Select dep --</option>
                                                    <option>computer scince</option>
                                                    <option>information technology</option>
                                                    <option>infomation system</option>
                                                    <option>organization </option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <th></th>
                                <th></th>
                                <th>
                                    <div> <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#modal-default">Save</button></div>
                                </th>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>