<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User Profile</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle" src="assets/user4-128x128.jpg"
                                    alt="User profile picture">
                            </div>

                            <h3 class="profile-username text-center">Student name</h3>

                            <p class="text-muted text-center">email@mufic.eg.com</p>

                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Academic year</b> <a class="float-right">4</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Section</b> <a class="float-right">12</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Student Department</b> <a class="float-right">computer science</a>
                                </li>
                            </ul>

                            <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                    <!-- About Me Box -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">About Me</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <strong><i class="fas fa-book mr-1"></i> Secondary School</strong>
                            <p class="text-muted">
                                B.S. in Computer Science from the University of Tennessee at Knoxville
                            </p>

                            <hr>

                            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                            <p class="text-muted">Malibu, California</p>

                            <hr>

                            <strong><i class="fas fa-phone-alt mr-1"></i> phone</strong>
                            <p class="text-muted">+20-012-345-6789</p>
                            <hr>

                            <strong><i class="far fa-flag mr-1"></i>Nationality</strong>

                            <p class="text-muted">Egyption</p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#data" data-toggle="tab">
                                        Basic Data</a></li>
                                <li class="nav-item"><a class="nav-link" href="#chpassword" data-toggle="tab">
                                        Change Password</a></li>
                                <li class="nav-item"><a class="nav-link" href="#chphoto" data-toggle="tab">
                                        change Photo</a></li>
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="data">

                                    <!-- Personal data -->
                                    <div class="card card-primary">
                                        <div class="card-header">
                                            <h3 class="card-title">Personal Data</h3>
                                        </div>
                                        <form class="form" role="form">
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="arabicName">Arabic Name</label>
                                                    <input type="text" class="form-control dis" id="arabicName"
                                                        disabled />
                                                </div>
                                                <div class="form-group">
                                                    <label for="englishName">English Name</label>
                                                    <input type="text" class="form-control dis" id="englishName"
                                                        disabled />
                                                </div>
                                                <div class="form-group">
                                                    <label for="nationality">Nationality</label>
                                                    <input type="text" class="form-control dis" id="nationality"
                                                        disabled />
                                                </div>
                                                <div class="form-group">
                                                    <label for="nationality">Gender</label>
                                                    <input type="text" class="form-control dis" id="nationality"
                                                        disabled />
                                                </div>
                                                <div class="form-group">
                                                    <label for="nationality">Religion</label>
                                                    <input type="text" class="form-control dis" id="nationality"
                                                        disabled />
                                                </div>
                                                <div class="form-group">
                                                    <label for="nationality">BirthDay</label>
                                                    <input type="text" class="form-control dis" id="nationality"
                                                        disabled />
                                                </div>
                                                <div class="form-group">
                                                    <label for="nationality">Nationality ID \ Passport No.</label>
                                                    <input type="text" class="form-control dis" id="nationality"
                                                        disabled />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!--End Personal data-->

                                    <!-- Personal data -->
                                    <div class="card card-primary">
                                        <div class="card-header">
                                            <h3 class="card-title">Personal Data</h3>
                                        </div>
                                        <form class="form" role="form">
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="arabicName">Arabic Name</label>
                                                    <input type="text" class="form-control dis" id="arabicName"
                                                        disabled />
                                                </div>
                                                <div class="form-group">
                                                    <label for="englishName">English Name</label>
                                                    <input type="text" class="form-control dis" id="englishName"
                                                        disabled />
                                                </div>
                                                <div class="form-group">
                                                    <label for="nationality">Nationality</label>
                                                    <input type="text" class="form-control dis" id="nationality"
                                                        disabled />
                                                </div>
                                                <div class="form-group">
                                                    <label for="nationality">Gender</label>
                                                    <input type="text" class="form-control dis" id="nationality"
                                                        disabled />
                                                </div>
                                                <div class="form-group">
                                                    <label for="nationality">Religion</label>
                                                    <input type="text" class="form-control dis" id="nationality"
                                                        disabled />
                                                </div>
                                                <div class="form-group">
                                                    <label for="nationality">BirthDay</label>
                                                    <input type="text" class="form-control dis" id="nationality"
                                                        disabled />
                                                </div>
                                                <div class="form-group">
                                                    <label for="nationality">Nationality ID \ Passport No.</label>
                                                    <input type="text" class="form-control dis" id="nationality"
                                                        disabled />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!--End Personal data-->
                                </div>
                                <!-- /.tab-pane -->

                                <div class="tab-pane" id="chpassword">
                                    <form class="form-horizontal">
                                        <div class="form-group row">
                                            <label for="oldpassword" class="col-sm-2 col-form-label">Old Password</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="oldpassword"
                                                    placeholder="Old password">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail" class="col-sm-2 col-form-label">New Password</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="newpassword"
                                                    placeholder="new Password">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="confirmpassword" class="col-sm-2 col-form-label">Confirm Password</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="confirmpassword"
                                                    placeholder="Confirm Passord">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-danger">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.tab-pane -->

                                <div class="tab-pane" id="chphoto">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <!-- <label for="customFile">Custom File</label> -->
                                            <div class="custom-file">
                                              <input type="file" class="custom-file-input" id="customFile">
                                              <label class="custom-file-label" for="customFile">Choose file</label>
                                            </div>
                                          </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-danger">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.tab-pane -->

                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->