<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Courses info.</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item "><a href="#">Home</a></li>
              <li class="breadcrumb-item">Courses</li>
              <li class="breadcrumb-item active">information</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Proof of registration in the college</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form">
              <div class="card-body">
                <div class="col-md-12">
    
                  <!-- general form elements -->
    
    
                  <!-- /.card-header -->
                  <!-- form start -->
                  <form role="form">
                    <div class="card-body">
                      <div class="form-group">
                        <label for="exampleInputEmail1"> Student Name</label>
                        <input type="text" class="form-control" id="title" placeholder="Enter Name">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">TO</label>
                        <input class="form-control" id="hint" placeholder="TO">
                      </div>
                      <div class="row">
    
                        <div class="col-sm-3">
                          <!-- select -->
                          <div class="form-group">
    
                            <select class="form-control">
                              <option>الفرقه الاولي</option>
                              <option>الفرقه الثانيه</option>
                              <option>الفرقه الثالثه</option>
                              <option>الفرقه الرابعه</option>
    
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-3  ">
                          <!-- select -->
                          <div class="form-group">
    
                            <select class="form-control">
                              <option>عام </option>
                              <option>هلوم حاسب</option>
                              <option>نظم معلومات</option>
    
    
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <!-- select -->
                          <div class="input">
    
                            <select class="form-control">
                              <option>2019/2020</option>
                              <option>2020/2021</option>
                              <option>2021/2022</option>
                              <option>2022/2023</option>
    
                            </select>
                          </div>
                        </div>
    
                      </div>
    
                    </div>
                    <!-- /.card-body -->
    
                    <div class="card-footer">
                      <!-- <button type="submit" class="btn btn-success" >GO</button> -->
                      <a class="btn btn-success" routerLink="print">GO</a>
                    </div>
                  </form>
                </div>
              </div>
              <!-- /.card-body -->
            </form>
          </div>
      </div>
      <!-- /.container-fluid -->
    </div>
  </div>