<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Student Sections</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">dashboard</a></li>
                        <li class="breadcrumb-item active">student sections</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Student Select</h3>
                </div>
                <form>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <!-- select -->
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>-- Select Level --</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <!-- select -->
                                <div class="form-group">
                                    <select class="form-control">
                                        <option value="none">-- Select Department --</option>
                                        <option>CS</option>
                                        <option>IS</option>
                                        <option>IT</option>
                                        <option>or</option>
                                        <option>BIO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="center">
                                <button style="width: 100px;" type="submit" class="btn btn-primary">Show</button>
                            </div>
                        </div>
                        <hr>
                        <table class="table table-bordered col-sm-6">
                            <thead>
                                <tr>
                                    <th>section</th>
                                    <th>Guide</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <select class="custom-select">
                                            <option>doctor 1</option>
                                            <option>doctor 2</option>
                                            <option>doctor 3</option>
                                            <option>doctor 4</option>
                                            <option>doctor 5</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        <select class="custom-select">
                                            <option>doctor 1</option>
                                            <option>doctor 2</option>
                                            <option>doctor 3</option>
                                            <option>doctor 4</option>
                                            <option>doctor 5</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                        <select class="custom-select">
                                            <option>doctor 1</option>
                                            <option>doctor 2</option>
                                            <option>doctor 3</option>
                                            <option>doctor 4</option>
                                            <option>doctor 5</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->