<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Courses info.</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item "><a href="#">Home</a></li>
            <li class="breadcrumb-item">Courses</li>
            <li class="breadcrumb-item active">information</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">


      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">

            Programs
          </h3>
        </div>
        <div class="card-body ">

          <div class="form-group">

            <div class="  float-right">
              <button style="width: 100px; margin-bottom: 10px;" type="submit" class="btn btn-success ">New</button>
            </div>

          </div>
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Arabic Name</th>

                  <th>Hours </th>
                  <th>Under Requirment</th>
                  <th>option</th>


                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>متطلبات تاهيليه</td>
                  <td>0</td>
                  <td> --</td>
                  <td>
                    <div class="row- center  ">
                      <button style="  margin-right: 10px;" type=" submit" class="btn btn-primary">Edit</button>

                      <button type="submit" class="btn btn-danger">Delete</button>


                    </div>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>متطلبات تاهيليه</td>
                  <td>0</td>
                  <td>bla bla </td>
                  <td>
                    <div class="row- center  ">
                      <button style="  margin-right: 10px;" type=" submit" class="btn btn-primary">Edit</button>

                      <button type="submit" class="btn btn-danger">Delete</button>


                    </div>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>متطلبات تاهيليه</td>
                  <td>0</td>
                  <td>bla bla </td>
                  <td>
                    <div class="row- center  ">
                      <button style="  margin-right: 10px;" type=" submit" class="btn btn-primary">Edit</button>

                      <button type="submit" class="btn btn-danger">Delete</button>


                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
              <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card card-primary">


        <div class="card-header">
          <h3 class="card-title">

            ALL Courses
          </h3>
        </div>
        <div class="card-body ">

          <div class="form-group">

            <div class="  float-right">
              <a style="width: 150px; margin-bottom: 10px;" type="submit" class="btn btn-success" routerLink="/courses/new">
                Add Course</a>
            </div>

          </div>
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>code</th>
                  <th>Arabic Name</th>
                  <th>English name</th>
                  <th>hours </th>
                  <th>Lec H</th>
                  <th>Lab H</th>
                  <th>Program name</th>
                  <th>PreCourse Code</th>
                  <th>Department</th>
                  <th>option</th>


                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Cs3211</td>
                  <td> Java</td>

                  <td>جافا</td>
                  <td> 3</td>
                  <td> 2</td>
                  <td> 1</td>
                  <td> متطلبات </td>
                  <td> --</td>
                  <td> cs,is</td>
                  <td>
                    <div class="row- center  ">
                      <button style="  margin-right: 10px;" type=" submit" class="btn btn-primary">Edit</button>

                      <button type="submit" class="btn btn-danger">Delete</button>


                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Cs3211</td>
                  <td> Java</td>

                  <td>جافا</td>
                  <td> 3</td>
                  <td> 2</td>
                  <td> 1</td>
                  <td> متطلبات </td>
                  <td> --</td>
                  <td> cs,is</td>
                  <td>
                    <div class="row- center  ">
                      <button style="  margin-right: 10px;" type=" submit" class="btn btn-primary">Edit</button>

                      <button type="submit" class="btn btn-danger">Delete</button>


                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Cs3211</td>
                  <td> Java</td>

                  <td>جافا</td>
                  <td> 3</td>
                  <td> 2</td>
                  <td> 1</td>
                  <td> متطلبات </td>
                  <td> --</td>
                  <td> cs,is</td>
                  <td>
                    <div class="row- center  ">
                      <button style="  margin-right: 10px;" type=" submit" class="btn btn-primary">Edit</button>

                      <button type="submit" class="btn btn-danger">Delete</button>


                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
            <ngb-panel title="Title1">
              <ng-template ngbPanelContent>
                Content1
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Title2">
              <ng-template ngbPanelContent>
                Content2
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
          <!-- /.card-body -->
          <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
              <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </div>
</div>